// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Open Sans', sans-serif;

$code-color: #3C3940;

@import '~vuetify/src/styles/styles.sass';

h1, h2, h3, h4, h5, .v-card__title {
    color: #0E061C;
    font-weight: 600;
}

h1 {
    font-size: 2.25rem;
    margin-bottom: 1em;
    margin-top: 1em;
}
h2 {
    font-size: 1.75rem;
    margin-bottom: 1em;
    margin-top: 1em;
}
h3 {
    font-size: 1.25rem;
    margin-bottom: .75em;
    margin-top: .75em;
}
h4 {
    font-size: 1rem;
    margin-bottom: .75em;
    margin-top: .75em;
}
h5 {
    font-size: .85rem;
    margin-bottom: .75em;
    margin-top: .75em;
}

p {
    font-size: .85rem;
    color: #3C3940;
}

/* Services */
.headline-service-name {
    margin-top: 0;
    margin-bottom: 0;
}
.service-name {
    margin-top: 0;
    margin-bottom: .5em;
}
.theme--light.v-chip:not(.v-chip--active) {
    background-color: #D7F0FE;
    color: #388DF5;
    font-weight: bold;
}

/* List menu */

.v-list {
    .v-list-item__action .v-icon, .v-list-group .v-icon {
        color: #491E8C;
    }
    .v-list-item--active {
        color: #491E8C;
        border-left: solid 6px #491E8C;
    .v-list-item__title {
        font-weight: bold;
        color: #491E8C;
        }
    }
    .v-list-group {
        .v-list-group__header .v-list-item__icon {
            margin-top: 12px;
            margin-bottom: 12px;
        }
    }
    .v-list-item__title {
        color: #0E061C;
    }
}

/* Tabs */
.v-tab {
    color: #3C3940!important;
}
.v-tab--active {
    color: #491E8C!important;
    font-weight: bold;
}

/* Code */
code {
    background-color: #2e3148!important;
    box-shadow: none!important;
    color: hsla(0,0%,100%,.8)!important;
}

/* BTN */
.v-btn__content {
    font-weight: 600;
}